/*basic margin, sizing initializing*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

/*page center container*/
.container {
    width: 100%;
    min-height: 100%;
}

/*main tag definition*/
.loginMain {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
}

/*all buttons are pointers*/
button {
    cursor: pointer;
}

/*login section*/
.login {
    width: 100%;
    max-width: 935px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*login form container*/
.login__form__container {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*login form pedding design*/
.login__form,
.login__register {
    padding: 10px 0 20px;
    text-align: center;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    background-color: #fff;
}

/*logo image block*/
.login__form h1 {
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*logo image*/
.login__form h1 img {
    width: 175px;
}

/*log in input box*/
.login__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    padding: 0 40px;
}

/*log in input*/
.login__input input {
    width: 100%;
    height: 38px;
    padding: 9px 0 7px 8px;
    border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
    border-radius: 3px;
    margin-bottom: 6px;
}

/*login button*/
.login__input button {
    border: 0;
    outline: 0;
    width: 100%;
    height: 30px;
    background-color: #0095f6;
    color: #fff;
    margin-top: 15px;
    font-weight: 700;
    border-radius: 3px;
    transition: background 0.5s;
}

/*button hover action*/
.login__input button:hover {
    background: #0f75b9;
}

/* login__horizon hr design. */
.login__horizon {
    display: flex;
    margin-top: 20px;
    padding: 0 40px;
    align-items: center;
}

.login__horizon .br {
    width: 40%;
    height: 1px;
    border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}

.login__horizon .or {
    width: 20%;
    text-align: center;
    color: #aaa;
    font-size: 14px;
}

/* facebook sign in */
.login__facebook {
    padding: 0 40px;
    margin-top: 15px;
}
/*facebook sign in button*/
.login__facebook button {
    background-color: #fff;
    width: 100%;
    height: 30px;
    border: 0;
    font-weight: 600;
    font-size: 15px;
}
/*facebook sign in color*/
.login__facebook button i,
span {
    color: #385185;
}

/*to register page*/
.login__register {
    margin-top: 10px;
    line-height: 60px;
    padding: 0;
}

/*not a member yet?*/
.login__register span {
    font-size: 14px;
    font-weight: 200;
}

/*register page button*/
.login__register a {
    color: #0095f6;
}

/* button design */
.cta {
    margin-right: 10px;
    padding: 5px 9px;
    border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
    border-radius: 4px;
    color: #262626;
    font-weight: bold;
    background: transparent;
}

/*blue button*/
.cta.blue {
    background: #0095f6 !important;
    color: #fff !important;
}